/* These styles, or something like them should be added during W2D1
  blue: #228bdc;
*/

body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

.emphasized-section {
  background-color:  #228bdc;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1, h2 {
  font-size: 37px;
}

h4 {
  font-size: 21px;
}


p {
  font-size: 16px;
}

.date {
  color: #228bdc;
  font-size: 21px;
  font-weight: 400;
}

.job-title {
  font-size: 16px;
}

.company-name {
  font-size: 28px;
  font-weight: 400;
}

footer {
  background-color: #323232;
  color: white;
}

footer a {
  font-size: 12px;
}

/* Margin / Padding */

header, footer, section {
  padding: 50px;
  margin: 0;
}

/* Layout Code */
nav, nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  margin-left: 10px;
}
    
.name-container {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.name-container h1, .name-container h4 {
  padding-bottom: 5px;
  margin:0;
}
    
.name-container h4 {
  font-weight: 200;
  
}

#skills ul li {
  display: flex;
  align-items: center;
}

#skills ul li h5 {
 flex: 0.5;
}

#skills ul li * {
  margin-left: 10px;
}


/* Styling Progress Bar */

progress[value] {
  appearance: none;
  width: 250px;
  height: 20px;
}
    
    