body {
	font-family: Open Sans, Helvetica, sans-serif;
	margin: 0;
}

b {
	font-size: 3em;
}

nav {
	background-color: #111;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	color: white;
}

nav h1 {
	margin: 5px 10px;
}

nav a {
	color: white;
	text-decoration: none;
}

nav a:hover {
	color: #08c;
}

#hero {
	text-align: center;
	height: 50%;
	font-size: 2.1em;	
	background-size: cover;
	background-position: center;
	background-image: url(../img/hero.jpg);
	width: 100%;
	padding: 17% 0 12% 0;
	margin: 0;
}

#hero h1 {
	color: white;
}

.btn {
	padding: 1% 3%;
	border: 1px solid white;
	color: white;
	cursor: pointer;
}

.btn:hover {
	color: #08c;
	background-color: white;
	border: 1px solid #08c;
}

#different, #another {
	padding: 4% 0;
}

#different p, #another p {
	width: 45%;
	margin: 0 auto;
	color: orange;
	line-height: 1.8em;
	font-size: 1.2em;
}

#three_columns {
	background-color: black;
	color: white;
	margin-bottom: 0;
}

#three_columns .col {
	text-align: center;
	padding: 50px 50px 30px;
}

#three_columns h3 {
	color: #08c;
}

#three_columns p {
	text-align: left;
	line-height: 1.8em;
	font-size: 1.2em;
}

.blue {
	color: #08c;
}

.orange {
	color: orange;
}

footer {
	background-color: #666;
	color: #eee;
	margin: 0;
	padding: 1%;
}
