* {
  box-sizing: border-box;
}

header { background-color: #B5BFA1; }
aside { background-color: #6E9887; }
main { background-color: #F283B6; }

aside, main, header {
  border: 1px solid #bbb;
  text-align: center;
  padding: 50px;
  color: white;
  font-size: 30px;
}

.container {
  height: 500px;
  display: flex;

}

aside, main {
  display: flex;
  align-items: center;
}

h2 {
  text-align: center;
  flex: 1;
}

aside {
  flex: 1;
  order: 1;
}

main {
  flex: 2;
}
